<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    
     <!--Import Google Icon Font-->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
        <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
      <!--Let browser know website is optimized for mobile-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link type="text/css" rel="stylesheet" href="css/syle.css">
    <title>To-Dine List</title>
    
    

</head>

<body>

    <header class="card-panel red lighten-3">
        <a href="/">
            <h1 class="center-align">
                To-Dine List
            </h1>
        </a>
        <h6 class="center-align">What's On The Menu Tonight?</h6>
    </header>

    <div class="row">
        {{{ body }}}
    </div>

    <footer>
        <span>&copy; 2022, Group 3</span>
    </footer>

    {{#if loggedIn}}
    <script src="/js/logout.js"></script>
    {{else}}
    <script src="/js/login.js"></script>
    {{/if}}

    <!--JavaScript at end of body for optimized loading-->
    <script type="text/javascript" src="js/materialize.min.js"></script>
</body>

</html>