<section class="sidebar">
    <h2>More Options</h2>
    <a class="sidebar-link" href="/">Discard Changes</a>
    {{!-- <button class="sidebar-btn" id="update-user">Change My Password</button> --}}
    <button class="sidebar-btn" id="logout">Log Out</button>
</section>
<main>
    <div class="main-form">
        <h2>
            Add a Restaurant
        </h2>
        <form id="add-form">
            <div>
                <label for="restaurant-name">Restaurant Name</label>
                <input name="restaurant-name" type="text" id="restaurant-name" />
            </div>
            <div>
                <label for="cuisine">Cuisine Type</label>
                <select name="cuisine" id="cuisine" style="display: block">
                    <option value="2">American</option>
                    <option value="1">Asian</option>
                    <option value="3">Indian</option>
                    <option value="5">Italian</option>
                    <option value="4">Mexican</option>
                    <option value="6">Other</option>
                </select>
            </div>
            <div>
                <label for="location">Location</label>
                <input name="location" type="text" id="location" />
            </div>
            <div>
                <label for="rating">Rating</label>
                <select name="rating" id="rating" style="display: block;">
                    <option value="0" selected>No Rating</option>
                    <option value="1">1 Star</option>
                    <option value="2">2 Stars</option>
                    <option value="3">3 Stars</option>
                </select>
            </div>
            <div>
                <label for="notes">Notes</label>
                <textarea name="notes" id="notes"></textarea>
            </div>
            <div>
                <button type="submit" class="main-form-btn" id="add-btn">Add Restaurant</button>
            </div>
        </form>
    </div>
</main>
<script src="/js/create.js"></script>
<script src="/js/logout.js"></script>
{{!-- <script src="/js/update-user.js"></script> --}}
    